.products {
  display: flex;
  flex-direction: column;
}
.products-info {
  text-align: right;
  margin: 0 0 50px 0;
  font-size: 0.9rem;
  color: rgb(186, 179, 179);
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}